<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Albums</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>All Albums</h1>
<div th:each="album : ${albums}">
    <h3>
        <a th:href="'/album/' + ${album.id}">
            <span th:text="${album.title}"></span>
        </a>
        <span th:text="' By ' + ${album.artist}"></span>

        <form th:action="'/album/delete/' + ${album.id} " method="POST">
            <button type="submit">Delete</button>
        </form>
    </h3>
</div>

<form method="POST" action="/albums">
    <label for="title">Album Title</label>
    <input id="title" name="title" />
    <label for="artist">Artist</label>
    <input id="artist" name="artist" />
    <label for="songCount">Tracks</label>
    <input id="songCount" name="songCount" type="number" min="1" max="30"/>
    <label for="length">Track length(sec)</label>
    <input id="length" name="length" type="number" min="20"/>
    <label for="imageUrl">Artwork Url</label>
    <input id="imageUrl" name="imageUrl" type="url"/>
    <input type="submit"/>
</form>

</form>
</body>
</html>